* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-topo{
    display: inline-block;
    width: 15vw;
    margin-left: 135px;
}
.topo {
  
    display: inline-block;
    height: 100px;
    justify-content:   center;
    font-size: 60px;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    color: blue;

}

.menu {
    text-align: center;

}

a {
    justify-content: center;
    font-size: 30px;
    font-style: italic;
    text-decoration: underline;
    color: black;
    margin-right: 50px;
    cursor: pointer;
}

.eu {

    justify-content: center;
    width: 50vw;
    position: relative;
    left: 25%;

}